.text-center{
    text-align: center;
}

.codeblock{
    border:1px solid lightsteelblue;
    background-color:rgb(207, 226, 243);
    padding:1em;
    margin-top:1em;
    margin-bottom:2em;
}
code {
    color:#38761dd1!important;
}

#copiedSuccess {
    display: none;
    margin-top:.5em;
    text-align: right;
    color:green;
    transition: visibility 1500ms;
}
#page-title{
    margin-top: 3rem;
    margin-bottom: 1.5rem;
}

@media only screen and (max-width: 375px) {
    #howToGif{
        width:300px;
    }
}